@model IEnumerable<PF.DVDCentral.BL.Models.Movie>


<table>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Load", "Movie", new { id = item.Id }, null)
            </td>

        </tr>
    }
    <tr>
        <td>
            @Html.ActionLink("Show All", "Index", "Movie")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("New Declaration", "Create", "Movie")
        </td>
    </tr>


</table>

